extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a Node Application that has been containerized with Docker!
  
  a(class='button' href='https://express-sample-app-ssk-helloworld.ibmcloud-roks-8s3d9-8946bbc006b7c6eb0829d088919818bb-0000.hkg02.containers.appdomain.cloud/') Click here to take to hello World!! 
