extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a Node Application that has been containerized with Docker!
  
  p hey hey hey!!!! how are you doing allllll !!!  Good Day!!!!

  Gitops changes done. Will see if this really works.. yuhooo!!!
